<div class="panel panel-primary">
    <!-- <div class="panel-heading">
        {{pageTitle}}
    </div> -->
    <div class="panel-body"  >
            <div class="row" >
                <img src="./assets/img/Welcome.png" 
                     class="img-responsive center-block"
                     style="max-height:300px;padding-bottom:50px"/>
            </div>
            <div>
                    <div class="page-header">
                            <h1><small>Steps to follow in Product List</small></h1>
                          </div>
                    <ul class="list-group">
                            <li class="list-group-item">Serch box to search for the products available in the product list</li>
                            <li class="list-group-item">Click the Star to get the rating in the Product list header</li>
                            <li class="list-group-item">Click the product name to get the specs of the product</li>
                            <li class="list-group-item">Show image to get the image</li>
                            <li class="list-group-item">Further requirements mail to my mailId:<a href="mailto:aravindrajan18294@gmail.com">Aravindrajan</a></li>
                            <li class="list-group-item">Ph No:9080122667</li>
                          </ul>
            </div>
        </div>
</div>

